@import './base.css';

@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter-Regular.woff2') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Inter-bold';
  src: url('/public/fonts/Inter-Bold.woff2') format('truetype');
  font-style: normal;
  font-weight: 700;
}

#app {
  width: 100%;
  max-width: 1280px;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  font-size: 18px;
  color: black;
  transition: 0.4s;
  padding: 6px;
  border-radius: 10px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(128, 0, 33, 0.8);
    color: white;
  }
}

@media (min-width: 1440px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
  }

  #app {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--vt-c-white);
    padding: 10px;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  footer {
    background-color: var(--vt-c-white);
  }
}
